@charset "utf-8";
/* CSS Document */

body
{
	background:#ccc;
}

.col {
   position: relative;
   padding: 0 18px;
   float: left;
}

/* Pagination */
.pagination {
   text-align: center;
}

.pagination ul {
	margin:0;
	padding:5px 0;
}

.pagination ul li {
   display: inline-block;
   margin: 0;
   padding: 0;
}
.pagination .page-numbers {
   font: 15px/18px opensans-bold, sans-serif;
   display: inline-block;
	padding: 6px 10px;
   margin-right: 3px;
   margin-bottom: 6px;
	color: #6E757C;
	background-color: #E6E8EB;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
}
.pagination .page-numbers:hover {
   background: #838A91;
   color: #fff;
}
.pagination .current,
.pagination .current:hover {
	background-color: #11ABB0;
   color: #fff;
}
.pagination .inactive,
.pagination .inactive:hover {
   background-color: #E6E8EB;
	color: #A9ADB2;
}
.pagination .prev, .pagination .next {}

#pmblivesearch
{
	width:550px;
	position:fixed;
	/*right:5px;*/
	top:10px;
	left:50%;
	margin-left:-275px;
	min-height:200px;
	background:#fff;
	padding:15px 15px;
	-webkit-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.12);
	box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.12);
}

.errormessage
{
	display:inline-block;
	margin-top:10px;
}

.realhidden
{
	display:none;
	opacity: 0;
	left: -1000px;
}

.hidden
{
	/*display:none;*/
	left:auto;
	-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
	opacity: 0;

}

.visible
{
	/*sdisplay:inline-block;*/
	-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
	opacity: 1;
	left:auto;
}

.pmbline
{
	margin:10px 0;
	border:0;
	background-color: #ddd;
	height: 1px;
	display:none;
}

.searchoptions
{
	width:96%;
	padding:4px 8px;
	margin:5px 2%;
	display:none;
	background:#f8f8f8;
}

#pmblivesearchform
{
	width:100%;
	margin:0;
	padding:0;
}

#pmblivesearchinput, #pmblivesearchinput:focus, #pmblivesearchinput:active
{
	float:left;
	display:inline-block;
	vertical-align:auto;
	color:#000;
	margin:0;
	border:0;
	width:382px;
	line-height:22px;
	padding:4px 10px;
	font-size:0.925em;
	background:#fff;
	-webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.10);
	box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.10);
	margin-right:2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}


.sbutton
{
	height:30px;
	padding:2px 0;
	margin-left:2px;
	background-color:#11abb0;
	color:#fff;
	font: 12px montserrat-bold, sans-serif;
	display:inline-block;
	float:left;
	line-height:26px;
	cursor:pointer;
	width:43px;
	text-align:center;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	-webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.10);
	box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.10);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.sbutton:hover
{
	-webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
	background-color:#13babf;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}

.result_container
{
	margin-top:10px;
	margin-bottom:2px;
	line-height:15px;
	padding:10px 2%;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#838c95;
	display:inline-block;
	width:96%;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.cursor
{
	cursor:pointer;
}

.suggestions
{
	margin-top:10px;
	line-height:15px;
	padding:10px 2%;
	color:#333;
	display:inline-block;
	width:96%;
	font-weight:bold;
}

.hidden_data:hover
{
	cursor:pointer;
	background:#e7f6f7;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.result_title
{
	color:#11abb0;
	font-size:120%;
	width:100%;
	display:inline-block;
	clear:both;
}

.result_url
{
	padding:3px 0;
	color:#222;
	width:100%;
	display:inline-block;
	clear:both;
}

.result_text
{
	padding:3px 0;
	color:#838c95;
	width:100%;
	display:inline-block;
	clear:both;
}


